body
{
	background-color: #101010;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 90px auto 0;
	width: 100%;
}
header
{
	background-color: #282828;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}
	header ul
	{
		display: block;
		height: 50px;
		list-style-type: none;
		overflow: hidden;
	}
	header ul li
	{
		float: left;
	}
	.header-title
	{
		color: white;
		display: block;
		font-size: 24px;
		padding: 13px;
	}
	.login-button
	{
		color: white;
		font-size: 18px;
		height: 50px;
		text-transform: uppercase;
	}
	.login-button:hover
	{
		color: orange;
		background-color: #424242;
	}
	.dropdown
	{
		display: block;
	}
	.dropdown-button
	{
		color: white;
		cursor: pointer;
		display: block;
		height: 50px;
		width: 50px;
		position: relative;
	}
	.dropdown-button:hover
	{
		color: orange;
	}
	.dropdown-container
	{
		background-color: #282828;
		color: white;
		display: none;
		position: absolute;
		z-index: 1;
	}
	.dropdown-container button
	{
		background-color: #282828;
		color: white;
		cursor: pointer;
		display: block;
		font-size: 18px;
		height: 100%;
		width: 100%;
		overflow: visible;
		padding: 10px;
		text-align: left;
		text-transform: uppercase;
	}
	.dropdown-container i
	{
		vertical-align: middle;
	}
	.dropdown-container button:hover
	{
		color: orange;
		background-color: #424242;
	}
.left
{
	float: left;
}
.right
{
	float: right;
}
.show
{
	display: block;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }